build/*
.scons*
*.o
*.pyc
.sconf_temp
config.log
*.os
build.py
build-*.py
Makefile
.deps
config.status
stamp-h1
*~
libtool
.libs/
.dirstamp
test-driver
test-suite.log
test_all
test_all.log
test_all.trs
src/autoconf_config.h